# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

# Grafana AWS datasources owns the datasource plugin code
/.github/ @grafana/data-sources-plugins
/go.mod @grafana/data-sources-plugins
/go.sum @grafana/data-sources-plugins
/pkg/ @grafana/data-sources-plugins
/src/datasource/ @grafana/data-sources-plugins
